/* Body Setup */

body {
    margin: 0px;;
}
h1 {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: sans-serif;
}
h2 {
    font-family: sans-serif;
}

/* Basic grid containers layout */

.grid-container {
    display: grid;
    height: 100vh;
    gap: 5px;
    grid-template-rows: 100px 3fr 100px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5px;
}
.item-1 {
    background-color: grey;
    grid-area: 1 / 1/ 2 / -1;
}
.item-2 {
    background-color: black;
    grid-area: 2/ 1 / 3 / 2;
}
.item-3 {
    background-color: lightgray;
    grid-area: 2 / 2 / 3 / -1;
}
.item-4 {
    background-color: lightblue;
    grid-area: 3 / 1/ 4 / -1;
}

.grid-container2 {
    display: grid;
    height: 100vh;
    gap: 5px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 5px;
}
.item-11 {
    background-color: darkgray;
    grid-area: 1 / 1 / -1 / -1;
}
.item-22 {
    background-color: whitesmoke;
    grid-area: 2 / 2 / 6 / 4;
}
.item-33 {
    background-color: black;
    grid-area: 1 / 4 / 7 / 7;
}

/* Basic flex containers layout */

.flex-container {
    display: flex;
    height: 250px;
    gap: 5px;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.flex-item1 {
    background-color: lightblue;
    flex: 4;
    border-radius: 5px;
}
.flex-item2 {
    background-color: lightcoral;
    flex: 4;
    border-radius: 5px;
}
.flex-item3 {
    background-color: lightblue;
    flex: 4;
    border-radius: 5px;
}

/* Buttons */

.flex-container-btns {
    display: flex;
    height: 250px;
    gap: 5px;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.item-btn {
    display: flex;
    justify-content: center;
 }

/* Default button */

 .btn {
    background-color: whitesmoke;
    color: black;
    font-style: normal;
    font-family: sans-serif;
    font-weight: 700;
    border-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgb(190, 184, 184);
    padding: auto;
    min-width: fit-content;
    min-height: fit-content;
 }
 .btn:hover {
    background-color: rgb(160, 216, 250);
    transition: 0.5s;
 }
.btn:active {
    background-color: rgb(86, 186, 248);
}

/* Light & dark buttons */



.btn-item1 {
    background-color: white;
    flex: 4;
    border-radius: 5px;
}
.btn-item2 {
    background-color: white;
    flex: 4;
    border-radius: 5px;
}
.btn-item3 {
    background-color: white;
    flex: 4;
    border-radius: 5px;
}
.btn-item4 {
    background-color: white;
    flex: 4;
    border-radius: 5px;
}
.btn-item5 {
    background-color: white;
    flex: 4;
    border-radius: 5px;
}
.btn-item6 {
    background-color: white;
    flex: 4;
    border-radius: 5px
}
